<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[실습]여행지 선택</title>
<script type="text/javascript">
	window.onload = function() {
		//폼태그 이벤트 연결
		const myForm = document.getElementById('myForm');

		//이름 필수 입력 유효성 체크
		myForm.onsubmit = function() {
			const name = document.getElementById('name');
			if(name.value.trim() == '') {
				alert('이름을 입력하세요!');
				name.value = '';//공백이 있을 시 공백 제거
				name.focus();//name에 커서를 두게 함
				return false;//submit이 안되게 함
			}
			//여행지는 2개 이상 필수 선택
			const cities = document.getElementsByClassName('cb-city');
			//getElementsByClassName 또는 queryselectall을 사용

			let num = 0; //체크된 도시만큼 num의 수가 늘어나도록 반복문 만듬 => num의 수 = 체크된 수
			for (let i = 0; i < cities.length; i++) {
				if (cities[i].checked) {
					num++;
				}
			}
			if (num < 2) {//num의 수가 2미만 => 체크가 2개 미만이 된 경우
				alert('여행지는 2개 이상 선택해야 합니다.');
				return false;
			}

		};//end of submit

	}//end of window.onload
</script>
</head>
<body>
	<!-- 
action : /ch03_JSP/travel
method : post

이름(name)<- input type="text",
여행지 선택(city) <- input type="checkbox"
(서울,뉴욕,런던,파리)

 -->
	<h3>여행지를 선택하세요(2개 이상 선택)</h3>
	<form action="/ch03_JSP/travel" method="post" id="myForm">
		이름 : <input type="text" name="name" id="name"><br>
		<!-- 자바스크립트에선 id를 꼭 써야되서 입력함(여행지 입력 여부를 알기위한 기능을 넣기 위해서 (유효성체크)) -->
		여행지 선택<br> 
		<input type="checkbox" name="city" value="서울"class="cb-city">서울 
		<input type="checkbox" name="city"value="뉴욕" class="cb-city">뉴욕 
		<input type="checkbox"name="city" value="런던" class="cb-city">런던 
		<input type="checkbox" name="city" value="파리" class="cb-city">파리 
		<input type="submit" value="전송">
	</form>
</body>
</html>