@charset "UTF-8";

.float-A{
	margin:160px;
	width:10%;
	height:600px;
	float:left;
}
.float-C{
	margin:160px;
	width:10%;
	height:600px;
	float:center;
}
/* 타이틀 */
.title {
    margin: 0;
    margin-top: 120px;
    font-size: 23pt;
    text-align: center; /* 중앙 정렬 */
}

/* 본문 가운데 정렬 */
.align-center {
    text-align: center;
}

/* Form 스타일 */
.upForm {
    width: 320px; /* Form의 너비 */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

ul {
    list-style: none;
    padding: 0; /* 기본 패딩 제거 */
}

li {
    margin-bottom: 9px; /* 각 li 요소 간에 여백 추가 */
}

label {
    font-size: 15px;
    margin-bottom: -12px;
    display: block; /* 블록 레벨 요소로 변경 */
    text-align: left; /* 왼쪽 정렬 */
}

.input-check {
    /* 크기 조정 */
    width: 100%; /* 부모 요소의 너비에 맞게 설정 */
    height: 35px; /* 버튼 높이 */
    
    /* 모서리 둥글게 */
    border-radius: 5px;
    
    /* 테두리 스타일 */
    border: 1px solid #8f8f8f;
    
    /* 글꼴 스타일 */
    font-size: 16px;
    font-weight: bold;
    
    margin-bottom: 5px; /* 각 input 간에 여백 추가 */
}

.save_btn {
    /* 크기 조정 */
    width: 100%; /* 부모 요소의 너비에 맞게 설정 */
    height: 50px; /* 버튼 높이 */
    
    /* 색상 변경 */
    background-color: #000; /* 배경 색상 */
    color: white; /* 글자 색상 */
    
    /* 모서리 둥글게 */
    border-radius: 5px;
    
    /* 테두리 스타일 */
    border: none;
    
    /* 글꼴 스타일 */
    font-size: 16px;
    font-weight: bold;
}

.small_font {
    font-size: 15px;
    color: #8f8f8f;
    margin-top: -18px; /* 위쪽으로 위치 이동 */
}
a{
	text-decoration-line:none;
	color:#000;
}
/* myCM_team*/
.container {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100vh; /* 뷰포트 높이를 100%로 설정하여 화면 중앙에 배치 */
}

.project_box {
    border-radius: 7px;
    width: 750px; 
    height: 88px;
    border: 1px solid #8f8f8f;
    text-align: center; /* 이 부분은 적용되지만, 내부 요소의 정렬을 위해 아래 추가 설정 필요 */
    display: flex;
    align-items: center;
	margin-top:-600px;
}

.projectName_font {
    font-size: 25px;
}

.line_font {
    text-align: left;
    margin-left: 15px;
    margin-top: 2px;
    width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
}
.skill_box{
	width:45px;
    border-radius: 20px;
	display: flex;
    justify-content: flex-start; /* 왼쪽으로 정렬 */
    padding: 3px; /* 필요에 따라 패딩 조정 */
    background:#d4d4d4;
    margin-top:-10px;
}
.skill_font{
	font-size:13px;
}
/*나의 활동 내가 보낸 댓글*/
