@charset "UTF-8";
.float-A{
	margin:140px;
	width:10%;
	height:600px;
	float:left;
}
.myCount a {
    display: block; /* 줄바꿈 효과를 위해 블록 요소로 설정 */
    margin-bottom: 20px; /* 아래쪽에 20px의 공백을 추가 */
    text-decoration: none; /* 링크 밑줄 제거 (선택 사항) */
    color: inherit; /* 링크 색상 상속 (선택 사항) */
    font-size: 20px;
}
.myCount a.sideB_font {
    font-size: 25px;
    font-weight: bold; /* 볼드체 적용 */
}
/* 호버 기능 추가 - 제외할 항목들을 제외한 나머지 a 태그에만 적용 */
.myCount a:not(.no-hover):hover {
    font-weight: bold; /* 폰트 굵게 */
    color: black; /* 원하는 색상으로 변경 */
}

.float-B{
	float:center;
}
/* 타이틀 */
.title {
    margin: 0;
    margin-top: 120px;
    font-size: 23pt;
    text-align: center; /* 중앙 정렬 */
}

/* 본문 가운데 정렬 */
.align-center {
    text-align: center;
}

/* Form 스타일 */
.upForm {
    width: 320px; /* Form의 너비 */
    margin: 0 auto; /* 수평 가운데 정렬 */
}

ul {
    list-style: none;
    padding: 0; /* 기본 패딩 제거 */
}

li {
    margin-bottom: 9px; /* 각 li 요소 간에 여백 추가 */
}

label {
    font-size: 15px;
    margin-bottom: -12px;
    display: block; /* 블록 레벨 요소로 변경 */
    text-align: left; /* 오른쪽 정렬 */
}

.input-check {
    /* 크기 조정 */

    height: 35px; /* 버튼 높이 */
    
    /* 모서리 둥글게 */
    border-radius: 5px;
    
    /* 테두리 스타일 */
    border: 1px solid #8f8f8f;
    
    /* 글꼴 스타일 */
    font-size: 16px;
    font-weight: bold;
    
    margin-bottom: 5px; /* 각 input 간에 여백 추가 */
}

.save_btn {
    /* 크기 조정 */

    height: 50px; /* 버튼 높이 */
    
    /* 색상 변경 */
    background-color: #000; /* 배경 색상 */
    color: white; /* 글자 색상 */
    
    /* 모서리 둥글게 */
    border-radius: 5px;
    
    /* 테두리 스타일 */
    border: none;
    
    /* 글꼴 스타일 */
    font-size: 16px;
    font-weight: bold;
}

.small_font {
    font-size: 15px;
    color: #8f8f8f;
    margin-top: -18px; /* 위쪽으로 위치 이동 */
}
/* .myCount{
	float:left;
	font-size: 15px;
    margin-bottom: -12px;
    display: block; 블록 레벨 요소로 변경
    text-align: left; 오른쪽 정렬
} */
a{
	text-decoration-line:none;
	color:#000;
}