@charset "UTF-8";
.float-A {
    margin: 140px;
    width: 10%;
    height: 600px;
    float: left;
}
.myCount a {
    display: block; /* 줄바꿈 효과를 위해 블록 요소로 설정 */
    margin-bottom: 20px; /* 아래쪽에 20px의 공백을 추가 */
    text-decoration: none; /* 링크 밑줄 제거 (선택 사항) */
    color: inherit; /* 링크 색상 상속 (선택 사항) */
    font-size: 20px;
}
.myCount a.sideB_font {
    font-size: 25px;
    font-weight: bold; /* 볼드체 적용 */
}
/* 호버 기능 추가 - 제외할 항목들을 제외한 나머지 a 태그에만 적용 */
.myCount a:not(.no-hover):hover {
    font-weight: bold; /* 폰트 굵게 */
    color: black; /* 원하는 색상으로 변경 */
}