<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org"><!-- 타임리프 기능 사용 가능 --><!-- 타임리프가 지원하는 속성은 th를 붙임 -->
<head>
<meta charset="UTF-8">
<title>게시판 목록</title><!-- 접두사 th를 사용해 타임리프 속성이 됨/ 타임리프 속성은 주소를 uri로 명시하기 위해서 사용,파일명만 쓸거면 타임리프 사용안해도됨 -->
<link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"><!-- el 이용해서 pageContext했지만 여기는 기본el사용못하고 spring에서 지원하는 el을 사용함 -->
</head>
<body>
<div class="page-main">
	<h2>게시판 목록</h2>
	<div class="align-right">
		<input type="button" value="글쓰기" onclick="location.href='insert.do'"><!-- 파일명만 쓸거면 타임리프 사용안함 -->
	</div>
	<div class="result-display" th:if="${count == 0}">표시할 내용이 없습니다</div><!-- c:if 처럼 태그로 명시했지만/지금은 태그가 없어 (th)속성으로 처리 true여야 보임 -->
	<div th:if="${count > 0}">
	<table>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
		</tr>
		<tr th:each="board : ${list}"><!-- board=자바빈을 가리킴(변수)/(객체) el이 ArrayList를 읽어서 데이터 가져옴 -->
			<!-- <td>[[${board.num}]]</td> -->
			<td th:text="${board.num}"></td><!-- 글번호를  >(여기)< 사이에 넣어줌 -->
			<td><a th:href="@{detail.do(num=${board.num})}" th:text="${board.title}"></a></td><!-- el을 읽어오려면 타임리프 속성을 사용해야됨/th를 붙여야 ${board.title}를 호출할 수 있음/타임리프는 ?를 사용못함 그래서 경로형태로 명시하려면()  -->
			<td th:text="${board.writer}"></td>
			<td th:text="${board.reg_date}"></td>
		</tr>
	</table>
	<div class="align-center" th:utext="${page}"></div><!-- utext없으면 태그가 다 보여짐,추가해야 태그가 정상적이게 동작됨/th:text태그 불인정 -->
	</div>
</div>
</body>
</html>